.profile-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    /*max-width: 90%; */
    text-align: center;
    margin: auto; 
}

.profile-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.profile-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.profile-card p {
    margin-bottom: 15px;
    font-size: 16px;
}

.profile-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.profile-form label {
    margin-bottom: 8px;
    font-weight: 600;
}

.profile-form textarea {
    resize: vertical;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 370px; */
}

.profile-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profile-form button:hover {
    background-color: #0056b3;
}