<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
    <h2>My profile</h2>
    <p><strong>Name:</strong> <%= user.name %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    </div>
</body>
</html>